---
import { db } from "astro:db";
import { Todo } from "astro:db";

if (Astro.request.method === "POST") {
  let formData = await Astro.request.formData();
  let content = formData.get("taskText");
  let status = { value: "todo" };

  if (typeof content === "string") {
    await db.insert(Todo).values({ content, status });
    return Astro.redirect("/");
  }
}

const todos = (await db.select().from(Todo)) as {
  id: number;
  content: string;
  published: Date;
  status: { value: string };
}[];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content="{Astro.generator}" />
    <title>Drag and Drop - Kanban - Astro</title>
  </head>
  <body class="flex flex-col items-center justify-center min-h-screen">
    <header class="flex items-center justify-center">
      <h1 class="text-center text-4xl text-gray-700 font-semibold">
        Drag & Drop
        <br />
        <span class="block text-2xl text-gray-500">Lean Kanban Board</span>
      </h1>
    </header>

    <form
      method="POST"
      class="container mx-auto flex items-center justify-center py-5 w-full space-x-3"
    >
      <input
        type="text"
        maxlength="12"
        name="taskText"
        id="taskText"
        placeholder="New Task..."
        class="shadow appearance-none border rounded flex-grow py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        minlength="5"
        required
      />
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline flex-shrink-0"
      >
        Add New Task
      </button>
    </form>

    <div class="container mx-auto grid grid-cols-1 xl:grid-cols-4 gap-4">
      <div class="col-span-1 p-4 rounded bg-orange-400">
        <h4 class="font-bold mb-4 text-center">To Do</h4>
        <ul id="to-do" class="space-y-4">
          {
            todos
              .filter(({ status }) => status.value === "todo")
              .map(({ content }) => (
                <li
                  class="bg-white p-4 rounded shadow"
                  draggable="true"
                  id={content}
                >
                  <p>{content}</p>
                </li>
              ))
          }
        </ul>
      </div>

      <div class="col-span-1 p-4 rounded bg-blue-400">
        <h4 class="font-bold mb-4 text-center">Doing</h4>
        <ul id="doing" class="space-y-4">
          {
            todos
              .filter(({ status }) => status.value === "in progress")
              .map(({ content }) => (
                <li
                  class="bg-white p-4 rounded shadow"
                  draggable="true"
                  id="{content}"
                >
                  <p>{content}</p>
                </li>
              ))
          }
        </ul>
      </div>

      <div class="col-span-1 p-4 rounded bg-green-400">
        <h4 class="font-bold mb-4 text-center">Done</h4>
        <ul id="done" class="space-y-4">
          {
            todos
              .filter(({ status }) => status.value === "done")
              .map(({ content }) => (
                <li
                  class="bg-white p-4 rounded shadow"
                  draggable="true"
                  id="{content}"
                >
                  <p>{content}</p>
                </li>
              ))
          }
        </ul>
      </div>

      <div class="col-span-1 p-4 rounded bg-red-400">
        <h4 class="font-bold mb-4 text-center">Trash</h4>
        <ul id="trash" class="space-y-4">
          {
            todos
              .filter(({ status }) => status.value === "trash")
              .map(({ content }) => (
                <li
                  class="bg-white p-4 rounded shadow"
                  draggable="true"
                  id="{content}"
                >
                  <p>{content}</p>
                </li>
              ))
          }
        </ul>
        <button
          class="mt-4 w-full bg-red-500 text-white p-2 rounded"
          onclick="emptyTrash()"
        >
          Delete
        </button>
      </div>
    </div>

    <footer></footer>
  </body>
</html>
